body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:937px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:937px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:58px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.498039215686275);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.498039215686275);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.498039215686275);
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:58px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:250px;
  height:879px;
}
#u256_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(67, 85, 106, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u259 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:15px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#142940;
  text-align:left;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#142940;
  text-align:left;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:#7D8995;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:61px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:#7D8995;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#142940;
  text-align:left;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#142940;
  text-align:left;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:#7D8995;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:106px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:#7D8995;
}
#u265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u266 {
  position:absolute;
  left:0px;
  top:135px;
  visibility:hidden;
}
#u266_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u269 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:15px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u270 {
  position:absolute;
  left:0px;
  top:90px;
  visibility:hidden;
}
#u270_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:250px;
  height:90px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u270_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u273 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:15px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 41, 64, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:250px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 16px 44px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u276 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:60px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:21px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(67, 85, 106, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:17px;
  width:80px;
  height:25px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:17px;
  width:25px;
  height:25px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
